/*-----------------SCROLLBAR------------------*/

html {
  scrollbar-color:#e0e0e0 #f0f0f0;
	scrollbar-width:thin;
}

::-webkit-scrollbar {
	width:10px;
}

::-webkit-scrollbar-thumb {
	background:#ffffff;
	border-radius:99px 0px;
}

::-webkit-scrollbar-track {
	background-color:#f0f0f0;
}


/*-----------------MAIN------------------*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Playfair+Display&family=Roboto+Mono:wght@100&display=swap');

body {
  /*colors*/
  background-image:url("https://raw.githubusercontent.com/aletiune/apx/main/latusrel/home/bg.jpg");
  background-color:rgb(240, 240, 240);
  
  /*text*/
  font-size: 1em;
  letter-spacing: 0.16em;
  font-family: 'Josefin Slab', serif;
  /*font-family: 'Roboto Mono', monospace;*/
  /*font-family: 'Playfair Display', serif;*/
  letter-spacing: 0.1em;
  
  /*spacing*/
  margin: 0px; /*for top bar*/

}


a:visited, a:link, a:active {
  color:rgb(156, 156, 156);
  text-decoration: none;
  transition: ease-in-out 0.5s;
}



/*-----------------BOOTSTRAP------------------*/

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.btn {
  background-color: rgb(211, 211, 211);
  color:white;
}

.navbar-nav {
  color:white;
}

.active {
  color:white;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.text-sidebar {
  color:rgb(156, 156, 156); /* gets overwritten */
}

.wrapper {
  color:rgb(156, 156, 156);
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 200px;
  max-width: 200px;
  /*background: #ffffff;*/
  color:rgb(156, 156, 156);
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding-top: 20px;
  text-align: right;
  /*background: #ffffff;*/
}

#sidebar ul.components {
  padding: 10px 0;
  border-bottom: 1px solid rgb(156, 156, 156);;
}

#sidebar ul p {
  color:rgb(156, 156, 156);
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1em;
  display: block;
}

#sidebar ul li a:hover {
  color: rgb(230, 243, 224);
  text-shadow: -0.09em 0 0.5px rgba(158, 202, 139, 0.9);
}

#sidebar ul li.active > a, a[aria-expanded=true] {
  color:rgb(156, 156, 156);
  /*background: rgb(255, 255, 255, .5);*/
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  color: #ffffff;
}

a.article,
a.article:hover {
  color: rgb(224, 224, 224) !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MY STYLE
----------------------------------------------------- */


.widthy {
  margin-left:140px;
  margin-right:140px;
  padding-top:20px;
}

.banner {
  width: 1000px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

iframe {
  width: 1000px;
  height: 450px;
}

.transcript {
  color:rgb(196, 196, 196);
  font-size:.9em;
}

a:hover{
  color: rgb(230, 243, 224);
  text-shadow: -0.09em 0 0.5px rgba(158, 202, 139, 0.9);
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1500px) {
  .banner {
    width: 800px;
  }
  iframe {
    width: 800px;
    height: 400px;
  }
}

@media (max-width: 1000px) {
  .banner {
    width: 600px;
  }
  iframe {
    width: 600px;
    height: 300px;
  }
}

@media (max-width: 630px) {
  .banner {
    width: 470px;
  }
  iframe {
    width: 470px;
    height: 235px;
  }
}

@media (max-width: 520px) {
  .banner {
    width: 400px;
  }
  iframe {
    width: 400px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  #sidebar {
    margin-right: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }

  #sidebar {
    display: none;
  }

  .widthy {
    margin-left:15px;
    margin-right:15px;
  }

}


/* ---------------------------------------------------
    stuff
----------------------------------------------------- */

.row {
  margin-left:20px;
  padding-top:20px;
}

.port {
  width:300px;
  height:150px;
  margin-right:20px;
  object-fit: cover;
}


@media (max-width: 1500px) {
  .port {
    width: 240px;
  }
}



.port {
  filter: grayscale(30%);
}